.calendar-body {
  padding: 0 2vw 2vw 2vw;
}

.summary-text {
  padding-left: 0.25rem;
  border: 2px solid rgb(221, 220, 220);
  border-radius: 0.25rem;
  font-size: clamp(0.75rem, 2vw, 1rem);
}
.calendar-body ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar-body .days {
  margin-bottom: 0px;
}
.calendar-body li {
  color: var(--dark-grey);
  width: calc(100% / 7);
  font-size: 1rem;
}

.calendar-body .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar-body .weeks li:first-child,
.calendar-body .weeks li:last-child {
  color: var(--dull-unselected);
}

.calendar-body .days li {
  z-index: var(--z-index-of-one);
  position: relative;
}

.calendar-body .days li:nth-child(7n + 7),
.calendar-body .days li:nth-child(7n + 8),
.calendar-body .days li:first-child {
  color: var(--dull-unselected);
}

.days li.data-wrapper {
  height: 100%;
}

.days li .dayInfo {
  padding: 0.5vw;
}

.days .day {
  position: absolute;
  width: 50%;
  border-radius: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-of-two);
  background-color: var(--day-color);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.weekend .day {
  color: var(--dark-grey);
}

.days .dayInfo .active {
  border-radius: 15%;
  border: var(--day-border) 4px solid;
}

.days .dayInfo .hrs.weekday,
.days .dayInfo .hrs.weekend {
  z-index: var(--z-index-of-one);
  border-radius: clamp(5px, 10%, 0.25rem);
  aspect-ratio: 1.5;
  padding-top: 3vmax;
  width: 100%;
}

.hrs {
  font-size: clamp(12px, 3vw, 40px);
}

.days .dayInfo .hrs.weekday {
  background-color: var(--hrs-color);
}

.days .dayInfo .hrs.weekend {
  background-color: var(--dull-grey);
  cursor: default;
}

.days .dayInfo .hrs.weekday.playedAsPlanned {
  background-color: var(--playedAsPlanned);
}
.days .dayInfo .hrs.weekday.notConfirmedButPlayed {
  background-color: var(--notConfirmedButPlayed);
}
.days .dayInfo .hrs.weekday.notTurnedUp {
  background-color: var(--notTurnedUp);
}

.no-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media screen and (max-width: 640px) {
  .calendar-body {
    width: clamp(325px, 95vw, 600px);
  }
}

@media screen and (max-width: 768px) {
  .calendar-body {
    width: clamp(325px, 90vw, 720px);
  }
}

@media screen and (max-width: 1024px) {
  .calendar-body {
    width: clamp(325px, 80vw, 1000px);
  }
}

@media screen and (width >= 1024px) {
  .calendar-body {
    width: clamp(325px, 80vw, 1000px);
  }
}
