/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Import Google font - Material Symbols */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --page-background: hsl(0, 0%, 100%);
  --white: hsl(0, 0%, 100%); /*color for calendar tab*/
  --summary-tab-background: hsl(0, 0%, 100%);
  --manage-tab-background: hsl(207, 73%, 68%);
  --side-icons: hsl(0, 0%, 53%);
  --light-gray-bubble: hsl(0, 0%, 95%);
  --dark-grey: hsl(0, 0%, 20%);
  --dull-unselected: hsl(0, 1%, 80%);
  --header-unselected: hsl(240, 0%, 54%);
  --day-border: hsl(323, 81%, 21%);
  --day-color: hsl(187, 36%, 65%);
  --hrs-color: hsl(0, 0%, 92%);
  --playedAsPlanned: hsl(133, 94%, 40%);
  --notTurnedUp: hsl(41, 89%, 47%);
  --notConfirmedButPlayed: hsl(231, 93%, 61%);
  --extraTime: hsl(298, 93%, 61%);
  --header-active-page: hsl(209, 93%, 42%);
  --z-index-of-one: 1;
  --z-index-of-two: 2;
  --wrapper-z-index: 3;
  --active-tab-z-index: 4;
  --header-z-index: 9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: var(--page-background);
}
.wrapper {
  position: relative;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 -3px 5px rgba(0, 0, 0, 0.1);
  z-index: var(--wrapper-z-index);
}

@media screen and (max-width: 800px) {
  #__next {
    width: clamp(325px, 95vw, 700px);
    height: 100dvh;
  }
}

@media screen and (min-width: 800px) {
  #__next {
    width: clamp(325px, 80vw, 1200px);
    height: 100dvh;
  }
}
