.table {
  --border-rad: 0.5rem;
  --border: 2px solid rgb(236, 235, 235);
  border-radius: var(--border-rad);
  border-spacing: 0;
  width: 95%;
  margin-bottom: 1em;
  margin-left: 2.5%;
  background-color: white;
  border: var(--border);
}

.table thead th span {
  vertical-align: middle;
  margin-left: 2px;
  font-size: 1rem;
}
.table thead th .active {
  color: rgb(6, 224, 152);
  font-size: 1rem;
  scale: 2;
}

.table thead tr th {
  background-color: var(--blueMain);
  color: white;
  font-size: 400;
}

.table th:last-child {
  border-top-right-radius: var(--border-rad);
}
.table th:first-child {
  border-top-left-radius: var(--border-rad);
}

.table tbody tr {
  cursor: pointer;
  text-align: center;
}

.tbody tr:nth-child(odd) {
  background-color: rgb(242, 243, 243);
}

.hint {
  margin-left: 2.5%;
}

.no-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.left-top,
.right-bottom {
  position: absolute;
  filter: grayscale();
  z-index: var(--background-z-index);
  opacity: 0.5;
  transform: scale(-1, 1);
}

.left-top {
  left: 0;
  top: 0;
}

.right-bottom {
  right: 0;
  bottom: 0;
}
