.table {
  --border-rad: 0.5rem;
  --border: 2px solid rgb(236, 235, 235);
  border-radius: var(--border-rad);
  border-spacing: 0;
  width: 95%;
  margin-bottom: 1em;
  margin-left: 2.5%;
  border: var(--border);
}

.table thead th span {
  vertical-align: middle;
  margin-left: 2px;
  font-size: 1rem;
}
.table thead th .active {
  color: rgb(2, 145, 97);
  font-size: 3rem;
}

.table thead tr th {
  border-bottom: var(--border);
  border-right: var(--border);
}

.table th:last-child {
  border-right: 0;
}

.table tbody tr {
  cursor: pointer;
  text-align: center;
}

.tbody tr:nth-child(odd) {
  background-color: rgb(242, 243, 243);
}

.hint {
  margin-left: 2.5%;
}

.no-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
