.summary {
  background: var(--summary-tab-background);
  width: 100%;
  min-height: 463.6px;
}
.wrapper {
  position: relative;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  z-index: var(--wrapper-z-index);
}
