.wrapper {
  width: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--header-z-index);
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.wrapper a {
  text-decoration: none;
  color: var(--dark-grey);
  font-size: clamp(8px, 1rem, 20px);
  margin: 0 15px;
}

.wrapper .active {
  text-decoration: underline 2px solid var(--header-active-page);
  text-underline-offset: 0.2rem;
}

.wrapper .inactive:hover {
  text-decoration: underline 2px solid var(--header-active-page);
  text-underline-offset: 0.2rem;
}

.wrapper .inactive {
  color: var(--header-unselected);
}

@media screen and (max-width: 800px) {
  .wrapper a {
    font-size: clamp(8px, 0.75rem, 16px);
  }
}
