.wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: var(--header-z-index);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.wrapper .links {
  display: flex;
}

.wrapper .links .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .links .link .link-logo {
  margin: 0 0.25rem;
}

.wrapper .logo {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  font-size: 1.5rem;
  font-style: bold;
  margin: 0.5rem;
  margin-left: 1rem;
  text-decoration: none;
  color: var(--charcoal);
}

.wrapper a {
  text-decoration: none;
  font-family: var(--headingFont);
  font-size: clamp(16px, 1.5rem, 24px);
  margin: 0 1rem;
}

.wrapper .links .active {
  color: var(--blueMain);
}

.wrapper .links .active .link {
  border-bottom: 2px solid var(--blueMain);
}

.wrapper .links .active .link .link-logo {
  filter: invert(17%) sepia(97%) saturate(1536%) hue-rotate(199deg)
    brightness(91%) contrast(105%);
}

.wrapper .links .inactive {
  color: var(--header-unselected);
}
.wrapper .links .inactive:hover {
  border-bottom: 2px solid var(--header-unselected);
}

.wrapper .links .inactive:hover .link .link-logo {
  filter: invert(17%) sepia(97%) saturate(1536%) hue-rotate(199deg)
    brightness(91%) contrast(105%);
}

@media (max-width: 640px) {
  .wrapper .links .link .link-text {
    display: none;
  }
}

@media (640px <= width >= 768px) {
  .wrapper .links .link .link-text {
    font-size: clamp(12px, 1rem, 16px);
  }
  .wrapper .links .link img {
    width: 20px;
    height: 20px;
  }
}
